<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="title" content="웹사이트">
    <meta name="description" content="웹사이트입니다.">
    <meta name="keywords" content="키워드,키워드,키워드">
    <meta property="og:title" content="웹사이트">
    <meta property="og:description" content="웹사이트입니다">
    <meta property="og:image" content="https://웹사이트/images/opengraph.png">
    <meta property="og:url" content="https://웹사이트">
    <title>첫페이지 | 프로젝트0522</title>
    <link rel="stylesheet" href="resources/css/setting.css">
    <link rel="stylesheet" href="resources/css/plugin.css">
    <link rel="stylesheet" href="resources/css/template.css">
    <link rel="stylesheet" href="resources/css/style.css">
</head>

<body>
<div class="campland-N14" data-bid="chatting">
    <div class="contents-container container-md">
        <div id="chattingRoom">
            <!-- 채팅방 -->

        </div>
    </div>
</div>
<!-- [S]campland-N1 -->
<header class="campland-N1" data-bid="KcLyI3r0UT">
    <div class="header-inner">
      <div class="header-container container-lg">
        <div class="header-left">
          <h1 class="header-title">
            <a href="/main">
              <img src="/resources/images/pushtrip_logo.png" alt="로고">
            </a>
          </h1>
        </div>
        <div class="header-center">
          <ul class="header-member">
            <li>
              <a href="/loginForm">로그인</a>
            </li>
            <li>
              <a href="/join">회원가입</a>
            </li>
          </ul>
          <ul class="header-gnblist">
            <li class="header-gnbitem">
              <a class="header-gnblink" href="javascript:void(0)">
                <span>여행</span>
              </a>
              <ul class="header-sublist">
                <li class="header-subitem">
                  <a class="header-sublink" href="introduction">
                    <span>소개</span>
                  </a>
                </li>
                <li class="header-subitem">
                  <a class="header-sublink" href="Top5">
                    <span>추천여행</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" href="javascript:void(0)">
                <span>게시판</span>
              </a>
              <ul class="header-sublist">
                <li class="header-subitem">
                  <a class="header-sublink" href="freeForumSelectAll">
                    <span>자유게시판</span>
                  </a>
                </li>
                <li class="header-subitem">
                  <a class="header-sublink" href="travelForumSelectAll">
                    <span>여행게시판</span>
                  </a>
                </li>
                <li class="header-subitem">
                  <a class="header-sublink" href="tradeForumSelectAll">
                    <span>중고거래</span>
                  </a>
                </li>
              </ul>
            <li class="header-gnbitem">
              <a class="header-gnblink" href="javascript:void(0)">
                <span>공지사항</span>
              </a>
              <ul class="header-sublist">
                <li class="header-subitem">
                  <a class="header-sublink" href="noticeForumSelectAll">
                    <span>공지사항</span>
                  </a>
                </li>
                <li class="header-subitem">
                  <a class="header-sublink" href="questionForumSelectAll">
                    <span>문의사항</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="header-right">
          <div class="header-utils">
            <a id="profileContainer" class="header-utils">
            </a>
            <a href="/mypage" class="btn-profile header-utils-btn">
              <img src="/resources/icons/ico_profile_black.svg" alt="마이페이지">
              <span class="tooltip-text">마이페이지</span>
            </a>
            <a href="javascript:void(0)" onclick="openMessagePopup()" class="btn-profile header-utils-btn">
              <img  src="resources/images/free-icon-message-5941217.png" alt="쪽지함 아이콘">
              <span class="tooltip-text">쪽지함</span>
            </a>
          </div>
        </div>
      </div>
        <button class="fullmenu-close">
          <img src="/resources/icons/ico_close_m_white.svg" alt="닫기">
        </button>
      </div>
    </div>
  </header>
<!-- [E]campland-N1 -->
<main class="th-layout-main ">
    <!-- [S]campland-N8 -->
    <div class="campland-N8" data-bid="oeLyXybbn3">
        <div class="contents-container">
            <img class="contents-visual img-pc" src="resources/images/trip3.jpg" alt="서브 비주얼 PC 이미지">
            <img class="contents-visual img-mobile" src="resources/images/trip3.jpg" alt="서브 비주얼 모바일 이미지">
            <div class="contents-body container-md">
                <div class="textset textset-visual">
                    <h2 class="textset-tit">PUSHTRIP</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- [E]campland-N8 -->
    <!-- [S]campland-N13 -->
    <div class="campland-N13" data-bid="yulYXyBbR9">
        <div class="contents-inner">
            <div class="contents-container container-md">
                <div class="textset textset-sub">
                    <h2 class="textset-tit" th:text="${questionForum.title}">제목</h2>
                    <hr>
                    <span>문의사항</span>
                    <p class="textset-desc">
                        작성자 : <span id="authorId" th:text="${questionForum.userId}">글쓴이</span><br>
                        등록일 : <span th:text="${#dates.format(questionForum.insertDate, 'yyyy-MM-dd HH:mm')}">날짜</span><br>
                        수정일 : <span th:text="${#dates.format(questionForum.updateDate, 'yyyy-MM-dd HH:mm')}">날짜</span><br>
                        조회수 : <span th:text="${questionForum.viewCount}">조회수</span><br>
                    </p>
                </div>
                <div class="contents-body">
                    <img class="contents-body-img img-pc" th:src="${questionForum.getPictureFileAsBase64()}" alt="내용 PC 이미지">
                    <img class="contents-body-img img-mobile" th:src="${questionForum.getPictureFileAsBase64()}" alt="내용 모바일 이미지">
                    <hr>
                    <p class="contents-text" th:text="${questionForum.content}">
                        안녕하세요. <br> CAMPLAND 홈페이지 담당자입니다. <br>
                        <br> 웹 페이지 산출물이 나오는 과정은 3명의 전문가들의 각각의 시간을 할애하여 생산하는 부분을 템플릿 하우스를 사용하면 1사람이 <br> 원 클릭과 드래그앤 드랍 방식을 통해 웹 페이지를 10분 만에 생성하고 코드 편집과 코드 산출물 다운로드 기능을 통해 더 자유롭게 개발할 수 있습니다. <br>
                        <br> 더 궁금하신 사항은 아래 전화번호 메일을 통해 연락주시길 바랍니다. <br> 감사합니다. <br>
                        <br> 문의사항 : 02-123-4567 / help@openfield.co.kr
                    </p>
                </div>

                <!-- 추천 -->
                <div class="contents-recommend">
                    <button class="recommend-btn">
                        <img class="recommend-img" src="resources/images/recommend.jpg" alt="따봉">
                        <span class="recommend-count" >0</span> <!-- th:text="${freeForum.recommendCount}" -->
                    </button>
                </div>

                <div class="contents-link">
                    <!-- 수정하기 링크 -->
                    <a id="editButton" th:href="@{/board_question_update(questionId=${questionForum.questionId})}" class="btnset btnset-round btnset-line btnset-black">수정하기</a>

                    <!-- 삭제하기 폼 -->
                    <form id="deleteButton" th:action="@{/questionForumDelete}" method="post" style="display:inline;">
                        <input type="hidden" name="questionId" th:value="${questionForum.questionId}" />
                        <button type="submit" class="btnset btnset-round btnset-line btnset-black">삭제하기</button>
                    </form>


                    <!-- 목록으로 링크 -->
                    <a href="/questionForumSelectAll" class="btnset btnset-round btnset-line btnset-black">목록으로</a>
                </div>
            </div>
        </div>
    </div>
    <!-- [E]campland-N13 -->

    <!-- [S]campland-N14 -->
    <!-- 작성자 : 민욱 -->
    <!-- script_board_travel_content.js 에서 ajax로 id="travelComments" 찾아서 댓글 삽입 -->
    <div class="campland-N14" data-bid="commentSection">
        <div class="contents-container container-md">
            <div id="questionComments">
                <!-- 댓글 작성 폼 ajax로 불러옴-->
                <!-- 댓글 목록 ajax로 불러옴-->
            </div>
        </div>
    </div>
    <!-- [E]campland-N14 -->

</main>
<!-- [S]campland-N2 -->
<footer class="campland-N2" data-bid="HKlyI3r1MZ">
    <div class="footer-container container-lg">
        <div class="footer-top">
            <h1 class="footer-logo">
                <a href="javascript:void(0)">
                    <img src="resources/images/pushtrip_logo_white.png" alt="로고">
                </a>
            </h1>
            <ul class="footer-menulist">
                <li class="footer-menuitem">
                    <a href="javascript:void(0)">
                        <span>이용약관</span>
                    </a>
                </li>
                <li class="footer-menuitem">
                    <a href="javascript:void(0)">
                        <span>개인정보처리방침</span>
                    </a>
                </li>
                <li class="footer-menuitem">
                    <a href="javascript:void(0)">
                        <span>푸터메뉴1</span>
                    </a>
                </li>
                <li class="footer-menuitem">
                    <a href="javascript:void(0)">
                        <span>푸터메뉴2</span>
                    </a>
                </li>
            </ul>
            <ul class="footer-snslist">
                <li class="footer-snsitem">
                    <a class="footer-snslink" href="javascript:void(0)">
                        <img src="resources/icons/ico_instagram_lightgrey.svg" alt="인스타그램">
                    </a>
                </li>
                <li class="footer-snsitem">
                    <a class="footer-snslink" href="javascript:void(0)">
                        <img src="resources/icons/ico_youtube_lightgrey.svg" alt="유튜브">
                    </a>
                </li>
                <li class="footer-snsitem">
                    <a class="footer-snslink" href="javascript:void(0)">
                        <img src="resources/icons/ico_facebook_lightgrey.svg" alt="페이스북">
                    </a>
                </li>
                <li class="footer-snsitem">
                    <a class="footer-snslink" href="javascript:void(0)">
                        <img src="resources/icons/ico_kakao_lightgrey.svg" alt="카카오톡">
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <h2 class="footer-logo">
                <a href="javascript:void(0)">
                    <img src="resources/images/pushtrip_logo_white.png" alt="로고">
                </a>
            </h2>
            <div class="footer-txt">
                <p> 서울시 금천구 벚꽃로36길 30 가산 KS타워 1409호 </p>
                <p>
                    <span>T. 070-8872-8874</span>
                    <span>E. help@openfield.co.kr</span>
                </p>
            </div>
            <div class="footer-txt">
                <p>2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</p>
            </div>
        </div>
    </div>
</footer>
<!-- [E]campland-N2 -->
<script src="resources/js/setting.js"></script>
<script src="resources/js/plugin.js"></script>
<script src="resources/js/template.js"></script>
<script src="resources/js/common.js"></script>
<script src="resources/js/script_board_question_content.js"></script>
<script src="/resources/js/chatbot.js"></script>
<script src="/resources/js/openMessage.js"></script>
<script src="/resources/js/chat.js"></script>

</body>

</html>