<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>첫페이지 | 프로젝트4246</title>
  <link rel="stylesheet" href="../resources/css/setting.css">
  <link rel="stylesheet" href="../resources/css/plugin.css">
  <link rel="stylesheet" href="../resources/css/template.css">
  <link rel="stylesheet" href="../resources/css/style.css">
</head>

<body>
<div class="campland-N14" data-bid="chatting">
  <div class="contents-container container-md">
    <div id="chattingRoom">
      <!-- 채팅방 -->

    </div>
  </div>
</div>
  <!-- [S]butti-N1 -->
  <header class="campland-N1" data-bid="KcLyI3r0UT">
    <div class="header-inner">
      <div class="header-container container-lg">
        <div class="header-left">
          <h1 class="header-title">
            <a href="/main">
              <img src="resources/images/pushtrip_logo.png" alt="로고">
            </a>
          </h1>
        </div>
        <div class="header-center">
          <ul class="header-member">
            <li>
              <a href="javascript:void(0)">로그인</a>
            </li>
            <li>
              <a href="javascript:void(0)">회원가입</a>
            </li>
          </ul>
          <ul class="header-gnblist">
            <li class="header-gnbitem">
              <a class="header-gnblink" href="javascript:void(0)">
                <span>여행</span>
              </a>
              <ul class="header-sublist">
                <li class="header-subitem">
                  <a class="header-sublink" href="javascript:void(0)">
                    <span>소개</span>
                  </a>
                </li>
                <li class="header-subitem">
                  <a class="header-sublink" href="Top5">
                    <span>추천여행</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" href="javascript:void(0)">
                <span>공지사항</span>
              </a>
              <ul class="header-sublist">
                <li class="header-subitem">
                  <a class="header-sublink" href="javascript:void(0)">
                    <span>공지사항</span>
                  </a>
                </li>
                <li class="header-subitem">
                  <a class="header-sublink" href="questionForumSelectAll">
                    <span>문의사항</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" href="javascript:void(0)">
                <span>게시판</span>
              </a>
              <ul class="header-sublist">
                <li class="header-subitem">
                  <a class="header-sublink" href="board_free">
                    <span>자유게시판</span>
                  </a>
                </li>
                <li class="header-subitem">
                  <a class="header-sublink" href="board_travel">
                    <span>여행게시판</span>
                  </a>
                </li>
                <li class="header-subitem">
                  <a class="header-sublink" href="board_trade">
                    <span>중고거래</span>
                  </a>
                </li>
              </ul>
            <li class="header-gnbitem">
              <a class="header-gnblink" href="javascript:void(0)">
                <span>이용안내</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="header-right">
          <div class="header-utils">
            <a href="mypage" class="btn-profile header-utils-btn">
              <img src="resources/icons/ico_profile_black.svg" alt="마이페이지">
              <span class="tooltip-text">마이페이지</span>
            </a>
            <a href="receivedMessages" class="btn-profile header-utils-btn">
              <img  src="resources/images/email.png" alt="쪽지함 아이콘" style="width: 24px; height: 24px; margin-right: 0.5rem;">
              <span class="tooltip-text">쪽지함</span>
            </a>
            <button class="btn-search header-utils-btn">
              <img src="resources/icons/ico_search_black.svg" alt="검색">
            </button>
            <button class="btn-allmenu header-utils-btn">
              <img src="resources/icons/ico_menu_black.svg" alt="PC메뉴">
            </button>
            <button class="btn-momenu header-utils-btn">
              <img src="resources/icons/ico_menu_black.svg" alt="모바일메뉴">
            </button>
            <button class="btn-moclose header-utils-btn">
              <img src="resources/icons/ico_close_m_black.svg" alt="닫기">
            </button>
          </div>
        </div>
      </div>
        <button class="fullmenu-close">
          <img src="resources/icons/ico_close_m_white.svg" alt="닫기">
        </button>
      </div>
    </div>
  </header>
  <!-- [E]butti-N1 -->
  <main class="th-layout-main ">
    <!-- [S]butti-N12 -->
    <div class="butti-N12" data-bid="BcLzc1Ha69">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="textset">
            <h2 class="textset-tit"> 여행 계획을 더욱 효과적으로 세워 보세요 경험해보지 못한 기능을 소개합니다 </h2>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]butti-N12 -->
    <!-- [S]butti-N32 -->
    <div class="butti-N32" data-bid="VBLZc1HA97">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="cardset cardset-xl cardset-hor">
            <figure class="cardset-figure">
              <img class="cardset-img" src="../resources/images/introduction1.jpg" alt="카드 이미지">
            </figure>
            <div class="cardset-body">
              <h4 class="cardset-tit">날씨정보를 통한 여행계획</h4>
              <p class="cardset-desc"> 웹은 무궁무진한 정보와 자료를 제공하며, 개인, 기업, 정부, 학교 등 모든 <br class="pc-br"> 분야에서 활용됩니다. 또한 웹을 통해 온라인 상에서 다양한 활동을 할 수 있으며 <br class="pc-br"> 정보를 얻고 소통하며, 서비스를 제공하고 구매할 수 있습니다. </p>
              <a class="btnset btnset-line btnset-black" href="javascript:void(0);">바로가기</a>
            </div>
          </div>
          <div class="cardset cardset-xl cardset-hor row-rever">
            <figure class="cardset-figure">
              <img class="cardset-img" src="../resources/images/introduction2.jpg" alt="카드 이미지">
            </figure>
            <div class="cardset-body">
              <h4 class="cardset-tit">맞춤 추천여행</h4>
              <p class="cardset-desc"> 웹은 무궁무진한 정보와 자료를 제공하며, 개인, 기업, 정부, 학교 등 모든 <br class="pc-br"> 분야에서 활용됩니다. 또한 웹을 통해 온라인 상에서 다양한 활동을 할 수 있으며 <br class="pc-br"> 정보를 얻고 소통하며, 서비스를 제공하고 구매할 수 있습니다. </p>
              <a class="btnset btnset-line btnset-black" href="javascript:void(0);">바로가기</a>
            </div>
          </div>
          <div class="cardset cardset-xl cardset-hor">
            <figure class="cardset-figure">
              <img class="cardset-img" src="../resources/images/introduction3.jpg" alt="카드 이미지">
            </figure>
            <div class="cardset-body">
              <h4 class="cardset-tit">여행 중에 살펴보기</h4>
              <p class="cardset-desc"> 웹은 무궁무진한 정보와 자료를 제공하며, 개인, 기업, 정부, 학교 등 모든 <br class="pc-br"> 분야에서 활용됩니다. 또한 웹을 통해 온라인 상에서 다양한 활동을 할 수 있으며 <br class="pc-br"> 정보를 얻고 소통하며, 서비스를 제공하고 구매할 수 있습니다. </p>
              <a class="btnset btnset-line btnset-black" href="javascript:void(0);">바로가기</a>
            </div>
          </div>
          <div class="cardset cardset-xl cardset-hor row-rever">
            <figure class="cardset-figure">
              <img class="cardset-img" src="../resources/images/introduction4.jpg" alt="카드 이미지">

            </figure>
            <div class="cardset-body">
              <h4 class="cardset-tit">여행 공유하기</h4>
              <p class="cardset-desc"> 웹은 무궁무진한 정보와 자료를 제공하며, 개인, 기업, 정부, 학교 등 모든 <br class="pc-br"> 분야에서 활용됩니다. 또한 웹을 통해 온라인 상에서 다양한 활동을 할 수 있으며 <br class="pc-br"> 정보를 얻고 소통하며, 서비스를 제공하고 구매할 수 있습니다. </p>
              <a class="btnset btnset-line btnset-black" href="javascript:void(0);">바로가기</a>
            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="asd">
    	<a href="Top5" class="btnset btnset-round" style="border: 1px solid #6699FF;">시작하기</a>
    </div>
    <br>
    <!-- [E]butti-N32 -->
  </main>
  <!-- [S]butti-N3 -->
  <footer class="campland-N2" data-bid="HKlyI3r1MZ">
    <div class="footer-container container-lg">
      <div class="footer-top">
        <h1 class="footer-logo">
          <a href="javascript:void(0)">
            <img src="resources/images/pushtrip_logo_white.png" alt="로고">
          </a>
        </h1>
        <ul class="footer-menulist">
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>이용약관</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>개인정보처리방침</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>푸터메뉴1</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>푸터메뉴2</span>
            </a>
          </li>
        </ul>
        <ul class="footer-snslist">
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="resources/icons/ico_instagram_lightgrey.svg" alt="인스타그램">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="resources/icons/ico_youtube_lightgrey.svg" alt="유튜브">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="resources/icons/ico_facebook_lightgrey.svg" alt="페이스북">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="resources/icons/\ico_kakao_lightgrey.svg" alt="카카오톡">
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <h2 class="footer-logo">
          <a href="javascript:void(0)">
            <img src="resources/images/pushtrip_logo_white.png" alt="로고">
          </a>
        </h2>
        <div class="footer-txt">
          <p> 서울시 금천구 벚꽃로36길 30 가산 KS타워 1409호 </p>
          <p>
            <span>T. 070-8872-8874</span>
            <span>E. help@openfield.co.kr</span>
          </p>
        </div>
        <div class="footer-txt">
          <p>2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- [E]butti-N3 -->
  <script src="../resources/js/setting.js"></script>
  <script src="../resources/js/plugin.js"></script>
  <script src="../resources/js/template.js"></script>
  <script src="../resources/js/common.js"></script>
  <script src="../resources/js/script.js"></script>
  <script src="/resources/js/chatbot.js"></script>
  <script src="/resources/js/chat.js"></script>
</body>