<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트resources/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>pushtrip</title>
  <link rel="stylesheet" href="/resources/css/setting.css">
  <link rel="stylesheet" href="/resources/css/plugin.css">
  <link rel="stylesheet" href="/resources/css/template.css">
  <link rel="stylesheet" href="/resources/css/style.css">


</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body>

<div class="campland-N14" data-bid="chatting">
  <div class="contents-container container-md">
    <div id="chattingRoom">
      <!-- 채팅방 -->

    </div>
  </div>
</div>
  <!-- [S]campland-N1 -->
  <header class="campland-N1" data-bid="KcLyI3r0UT">
    <div class="header-inner">
      <div class="header-container container-lg">
        <div class="header-left">
          <h1 class="header-title">
            <a href="/main">
              <img src="/resources/images/pushtrip_logo.png" alt="로고">
            </a>
          </h1>
        </div>
        <div class="header-center">
          <ul class="header-member">
            <li>
              <a href="/loginForm">로그인</a>
            </li>
            <li>
              <a href="/join">회원가입</a>
            </li>
          </ul>
          <ul class="header-gnblist">
            <li class="header-gnbitem">
              <a class="header-gnblink" href="javascript:void(0)">
                <span>여행</span>
              </a>
              <ul class="header-sublist">
                <li class="header-subitem">
                  <a class="header-sublink" href="introduction">
                    <span>소개</span>
                  </a>
                </li>
                <li class="header-subitem">
                  <a class="header-sublink" href="Top5">
                    <span>추천여행</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" href="javascript:void(0)">
                <span>게시판</span>
              </a>
              <ul class="header-sublist">
                <li class="header-subitem">
                  <a class="header-sublink" href="freeForumSelectAll">
                    <span>자유게시판</span>
                  </a>
                </li>
                <li class="header-subitem">
                  <a class="header-sublink" href="travelForumSelectAll">
                    <span>여행게시판</span>
                  </a>
                </li>
                <li class="header-subitem">
                  <a class="header-sublink" href="tradeForumSelectAll">
                    <span>중고거래</span>
                  </a>
                </li>
              </ul>
            <li class="header-gnbitem">
              <a class="header-gnblink" href="javascript:void(0)">
                <span>공지사항</span>
              </a>
              <ul class="header-sublist">
                <li class="header-subitem">
                  <a class="header-sublink" href="noticeForumSelectAll">
                    <span>공지사항</span>
                  </a>
                </li>
                <li class="header-subitem">
                  <a class="header-sublink" href="questionForumSelectAll">
                    <span>문의사항</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="header-right">
          <div class="header-utils">
            <a id="profileContainer" class="header-utils">
            </a>
            <a href="/mypage" class="btn-profile header-utils-btn">
              <img src="/resources/icons/ico_profile_black.svg" alt="마이페이지">
              <span class="tooltip-text">마이페이지</span>
            </a>
            <a href="javascript:void(0)" onclick="openMessagePopup()" class="btn-profile header-utils-btn">
              <img  src="resources/images/free-icon-message-5941217.png" alt="쪽지함 아이콘">
              <span class="tooltip-text">쪽지함</span>
            </a>
          </div>
        </div>
      </div>
        <button class="fullmenu-close">
          <img src="/resources/icons/ico_close_m_white.svg" alt="닫기">
        </button>
      </div>
    </div>
  </header>
  <!-- [E]campland-N1 -->
  <main class="th-layout-main ">
    <!-- [S]campland-N3 -->
    <div class="campland-N3" data-bid="IYLYI3r13t">
      <div class="contents-container">
        <div class="contents-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="contents-backimg img-pc" src="/resources/images/trip_main.jpg" alt="PC 메인 비주얼 이미지">
              <img class="contents-backimg img-mobile" src="/resources/images/trip_main.jpg" alt="모바일 메인 비주얼 이미지">
              <div class="contents-slide-group container-md">
                <div class="textset textset-visual">
                  <h2 class="textset-tit">
                    <span class="text-deco">Think</span>
                    <br> PushTrip
                  </h2>
                </div>
                <a class="btnset btnset-round btnset-line" href="javascript:void(0)">VIEW ALL STORY</a>
              </div>
            </div>
            <div class="swiper-slide">
              <img class="contents-backimg img-pc" src="/resources/images/trip_main.jpg" alt="PC 메인 비주얼 이미지">
              <img class="contents-backimg img-mobile" src="/resources/images/trip_main.jpg" alt="모바일 메인 비주얼 이미지">
              <div class="contents-slide-group container-md">
                <div class="textset textset-visual">
                  <h2 class="textset-tit">
                    <span class="text-deco">게시판</span>
                    <br> 상시운영
                  </h2>
                </div>
                <a class="btnset btnset-round btnset-line" href="javascript:void(0)">바로가기</a>
              </div>
            </div>
            <div class="swiper-slide">
              <img class="contents-backimg img-pc" src="/resources/images/trip_main.jpg" alt="PC 메인 비주얼 이미지">
              <img class="contents-backimg img-mobile" src="/resources/images/trip_main.jpg" alt="모바일 메인 비주얼 이미지">
              <div class="contents-slide-group container-md">
                <div class="textset textset-visual">
                  <h2 class="textset-tit">
                    <span class="text-deco">나만의</span>
                    <br>일정공유
                  </h2>
                </div>
                <a class="btnset btnset-round btnset-line" href="javascript:void(0)">바로가기</a>
              </div>
            </div>
            <div class="swiper-slide">
              <img class="contents-backimg img-pc" src="/resources/images/trip_main.jpg" alt="PC 메인 비주얼 이미지">
              <img class="contents-backimg img-mobile" src="/resources/images/trip_main.jpg" alt="모바일 메인 비주얼 이미지">
              <div class="contents-slide-group container-md">
                <div class="textset textset-visual">
                  <h2 class="textset-tit">
                    <span class="text-deco">랜덤</span>
                    <br> 여행추천
                  </h2>
                </div>
                <a class="btnset btnset-round btnset-line" href="javascript:void(0)">바로가기</a>
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="contents-control">
            <div class="swiper-pagination"></div>
            <div class="swiper-button-pause">
              <img src="/resources/icons/ico_pause_white.svg" alt="스와이퍼 멈춤버튼">
            </div>
            <div class="swiper-button-play">
              <img src="/resources/icons/ico_play_white.svg" alt="스와이퍼 재생버튼">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]campland-N3 -->
    <!-- [S]campland-N4 -->
    <div class="campland-N4" data-bid="yILYI3R18f">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="cardset cardset-hor row-rever col-rever-m cardset-lg">
            <figure class="cardset-figure img-pc">
              <img class="cardset-img" src="/resources/images/trip1.jpg" alt="PC 카드 이미지">
            </figure>
            <figure class="cardset-figure img-mobile">
              <img class="cardset-img" src="/resources/images/trip1.jpg" alt="모바일 카드 이미지">
            </figure>
            <div class="cardset-body">
              <h2 class="cardset-tit"> 푸시트립만의 감성으로 <br> 사로잡는 새로움을 만듭니다. </h2>
              <p class="cardset-desc"> 디자인은 단순히 아름답게만 만드는 작업이 아니라, <br> 사용자의 편의성을 고려해 아름다움을 불어넣어야 합니다. <br> 두 가지를 고려하며 만드는 과정은 어렵고 힘들지 몰라도 <br> 푸시트립에게는 의미 있는 일이며, 소중한 가치입니다. </p>
            </div>
          </div>
          <div class="cardset cardset-hor col-rever-m cardset-lg">
            <figure class="contents-backfigure img-pc">
              <img class="contents-backimg" src="/resources/images/img_campland_N4_3.png" alt="about텍스트 이미지">
            </figure>
            <figure class="cardset-figure img-pc">
              <img class="cardset-img" src="/resources/images/trip4.jpg" alt="PC 카드 이미지">
            </figure>
            <figure class="cardset-figure img-mobile">
              <img class="cardset-img" src="/resources/images/trip4.jpg" alt="모바일 카드 이미지">
            </figure>
            <div class="cardset-body">
              <h2 class="cardset-tit"> 당신을 위한 <br> 우리의 도전은 계속됩니다. </h2>
              <p class="cardset-desc"> 끊임없이 변하고 발전하는 인터넷 시대에 <br class="br-mo"> 푸시트립만의 트렌드한 <br class="br-pc"> 감성 디자인과 기술을 더하여 <br class="br-mo"> 차원높은 서비스를 제공합니다. </p>
              <a href="javascript:void(0);" class="btnset btnset-round btnset-line btnset-black">VIEW ALL STORY</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]campland-N4 -->
    <!-- [S]campland-N5 -->
    <div class="campland-N5" data-bid="ExlYI3R1bh">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="cardset-wrap">
            <div class="cardset cardset-center">
              <figure class="cardset-figure">
                <img class="cardset-img" src="/resources/images/free-icon-cloudy-1163763.png" alt="날씨">
                <!-- <a href="https://www.flaticon.com/kr/free-icons/" title=" 아이콘"> 아이콘 제작자: iconixar - Flaticon</a> -->
              </figure>
              <div class="cardset-body">
                <h2 class="cardset-tit">날씨</h2>
                <p class="cardset-desc"> 날씨정보를 바탕으로 <br> 더나은 서비스를 제공합니다. </p>
              </div>
            </div>
            <div class="cardset cardset-center">
              <figure class="cardset-figure">
                <img class="cardset-img" src="/resources/images/free-icon-bulletin-board-12094183.png" alt="게시판">
                <!-- <a href="https://www.flaticon.com/kr/free-icons/-" title="공지 사항 게시판 아이콘">공지 사항 게시판 아이콘 제작자: Mihimihi - Flaticon</a> -->
              </figure>
              <div class="cardset-body">
                <h2 class="cardset-tit">게시판</h2>
                <p class="cardset-desc"> 게시판을 통해 정보를 교환하고 <br> 소통할 수 있는환경을 제공합니다. </p>
              </div>
            </div>
            <div class="cardset cardset-center">
              <figure class="cardset-figure">
                <img class="cardset-img" src="/resources/images/free-icon-deal-1672241.png" alt="중고거래">
                <!-- <a href="https://www.flaticon.com/kr/free-icons/" title="거래 아이콘">거래 아이콘 제작자: Freepik - Flaticon</a> -->
              </figure>
              <div class="cardset-body">
                <h2 class="cardset-tit">중고거래</h2>
                <p class="cardset-desc"> 중고 여행용품 거래로 <br> 더 편리한 여행을 제공합니다.  </p>
              </div>
            </div>
            <div class="cardset cardset-center">
              <figure class="cardset-figure">
                <img class="cardset-img" src="/resources/images/free-icon-rating-6962022.png" alt="여행추천">
                <!-- <a href="https://www.flaticon.com/kr/free-icons/" title="추천 아이콘">추천 아이콘 제작자: amonrat rungreangfangsai - Flaticon</a> -->
              </figure>
              <div class="cardset-body">
                <h2 class="cardset-tit">여행추천</h2>
                <p class="cardset-desc"> 빅데이터를 기반으로 <br> 여행추천 서비스를 제공합니다. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]campland-N5 -->
    <!-- [S]campland-N6 -->
    <div class="campland-N6" data-bid="AVlyI3r1eI">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="imageset img-pc">
            <img class="imageset-img" src="/resources/images/img_campland_N6_2.png" alt="리뷰 텍스트 이미지">
          </div>
          <div class="contents-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img class="contents-backimg img-pc" src="/resources/images/trip5.jpg" alt="PC 이미지">
                <img class="contents-backimg img-mobile" src="/resources/images/trip5.jpg" alt="모바일 이미지">
                <div class="contents-slide-group container-md">
                  <div class="textset">
                    <h2 class="textset-tit"> 추억쌓기 딱 좋은 푸시트립 <br> 추천합니다. </h2>
                    <p class="textset-desc"> 푸시트립는 사용자들에게 소중한 추억을 만들어주었습니다. </p>
                  </div>
                  <a class="btnset btnset-round btnset-line btnset-white" href="javascript:void(0)">VIEW ALL STORY</a>
                </div>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      </div>
    </div>





    <!-- [E]campland-N6 -->
    <!-- [S]campland-N7 -->
    <div class="campland-N7" data-bid="qDLyI3r1jy">
      <div class="contents-container">
        <!-- * 카카오맵 - 지도퍼가기 -->
        <!-- 1. 지도 노드 -->
        <div id="daumRoughmapContainer1711963155855" class="root_daum_roughmap root_daum_roughmap_landing"></div>
        <!--
      2. 설치 스크립트
      * 지도 퍼가기 서비스를 2개 이상 넣을 경우, 설치 스크립트는 하나만 삽입합니다.
    -->
        <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
        <!-- 3. 실행 스크립트 -->
        <script charset="UTF-8">
          new daum.roughmap.Lander({
            "timestamp": "1711963155855",
            "key": "2ir5f",
          }).render();
        </script>
      </div>
    </div>
    <!-- [E]campland-N7 -->
  </main>
  <!-- [S]campland-N2 -->
  <footer class="campland-N2" data-bid="HKlyI3r1MZ">
    <div class="footer-container container-lg">
      <div class="footer-top">
        <h1 class="footer-logo">
          <a href="javascript:void(0)">
            <img src="/resources/images/pushtrip_logo_white.png" alt="로고">
          </a>
        </h1>
        <ul class="footer-menulist">
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>이용약관</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>개인정보처리방침</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>푸터메뉴1</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>푸터메뉴2</span>
            </a>
          </li>
        </ul>
        <ul class="footer-snslist">
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="/resources/icons/ico_instagram_lightgrey.svg" alt="인스타그램">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="/resources/icons/ico_youtube_lightgrey.svg" alt="유튜브">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="/resources/icons/ico_facebook_lightgrey.svg" alt="페이스북">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="/resources/icons/ico_kakao_lightgrey.svg" alt="카카오톡">
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <h2 class="footer-logo">
          <a href="javascript:void(0)">
            <img src="/resources/images/pushtrip_logo_white.png" alt="로고">
          </a>
        </h2>
        <div class="footer-txt">
          <p> 서울시 금천구 벚꽃로36길 30 가산 KS타워 1409호 </p>
          <p>
            <span>T. 070-8872-8874</span>
            <span>E. help@openfield.co.kr</span>
          </p>
        </div>
        <div class="footer-txt">
          <p>2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</p>
        </div>
      </div>
    </div>
  </footer>
<script src="/resources/js/plugin.js"></script>
<script src="/resources/js/template.js"></script>
<script src="/resources/js/setting.js"></script>
<script src="/resources/js/login_logout.js"></script>
<script src="/resources/js/chatbot.js"></script>
<script src="/resources/js/script_main.js"></script>
<script src="/resources/js/chat.js"></script>
<script src="/resources/js/openMessage.js"></script>
</body>