<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트resources/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>pushtrip</title>
  <link rel="stylesheet" href="resources/css/setting.css">
  <link rel="stylesheet" href="resources/css/plugin.css">
  <link rel="stylesheet" href="resources/css/template.css">
  <link rel="stylesheet" href="resources/css/style.css">
  
  <script src="resources/js/script_main_travel.js"></script>
  <script src="resources/js/plugin.js"></script>
  <script src="resources/js/template.js"></script>
  <script src="resources/js/setting.js"></script>

</head>

<body>
<div class="campland-N14" data-bid="chatting">
  <div class="contents-container container-md">
    <div id="chattingRoom">
      <!-- 채팅방 -->

    </div>
  </div>
</div>


  <!-- [S]campland-N1 -->
  <header class="campland-N1" data-bid="KcLyI3r0UT">
    <div class="header-inner">
      <div class="header-container container-lg">
        <div class="header-left">
          <h1 class="header-title">
            <a href="/main">
              <img src="resources/images/pushtrip_logo.png" alt="로고">
            </a>
          </h1>
        </div>
        <div class="header-center">
          <ul class="header-member">
            <li>
              <a href="loginForm">로그인</a>
            </li>
            <li>
              <a href="join">회원가입</a>
            </li>
          </ul>
          <ul class="header-gnblist">
            <li class="header-gnbitem">
              <a class="header-gnblink" href="javascript:void(0)">
                <span>여행</span>
              </a>
              <ul class="header-sublist">
                <li class="header-subitem">
                  <a class="header-sublink" href="introduction">
                    <span>소개</span>
                  </a>
                </li>
                <li class="header-subitem">
                  <a class="header-sublink" href="Top5">
                    <span>추천여행</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" href="javascript:void(0)">
                <span>게시판</span>
              </a>
              <ul class="header-sublist">
                <li class="header-subitem">
                  <a class="header-sublink" href="freeForumSelectAll">
                    <span>자유게시판</span>
                  </a>
                </li>
                <li class="header-subitem">
                  <a class="header-sublink" href="travelForumSelectAll">
                    <span>여행게시판</span>
                  </a>
                </li>
                <li class="header-subitem">
                  <a class="header-sublink" href="tradeForumSelectAll">
                    <span>중고거래</span>
                  </a>
                </li>
              </ul>
            <li class="header-gnbitem">
              <a class="header-gnblink" href="javascript:void(0)">
                <span>공지사항</span>
              </a>
              <ul class="header-sublist">
                <li class="header-subitem">
                  <a class="header-sublink" href="noticeForumSelectAll">
                    <span>공지사항</span>
                  </a>
                </li>
                <li class="header-subitem">
                  <a class="header-sublink" href="questionForumSelectAll">
                    <span>문의사항</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="header-right">
          <div class="header-utils">
            <a id="profileContainer" class="header-utils">
            </a>
            <a href="/mypage" class="btn-profile header-utils-btn">
              <img src="/resources/icons/ico_profile_black.svg" alt="마이페이지">
              <span class="tooltip-text">마이페이지</span>
            </a>
            <a href="javascript:void(0)" onclick="openMessagePopup()" class="btn-profile header-utils-btn">
              <img  src="resources/images/free-icon-message-5941217.png" alt="쪽지함 아이콘">
              <span class="tooltip-text">쪽지함</span>
            </a>
          </div>
        </div>
      </div>
        <button class="fullmenu-close">
          <img src="resources/icons/ico_close_m_white.svg" alt="닫기">
        </button>
      </div>
    </div>
    <div class="butti-N100">
    <div class="search-container">
        <form action="https://www.google.com/search" method="get" class="search-box">
            <div class="search-wrapper">
                <input type="text" name="q" class="search-input" placeholder="검색어를 입력하세요" style="background-image: url('resources/images/free-icon-search-4410940.png');">
                <button type="submit" class="btnset">검색</button>
            </div>
        </form>
    </div>
</div>
<br>
   <!-- [S]butti-N100 -->

      <div class="teb-N1">
          <ul class="gnblist">
            <li class="gnbitem">
              <a class="gnblink" href="main_travel_hotel">
                <span>호텔</span>
              </a>
            </li>
            <li class="gnbitem">
              <a class="gnblink" href="main_travel_joy">
                <span>즐길거리</span>
              </a>
            </li>
            <li class="gnbitem">
              <a class="gnblink" href="main_travel_food">
                <span class="circle-background" >맛집</span>
              </a>
            </li>
          </ul>
        </div>
  </header>
  <!-- [E]campland-N1 -->
  
  <main class="th-layout-main ">
  <!-- [S]butti-N100 -->
   <!-- [S]butti-N100 -->
      
        <div class="hotel-N1">
        <div class="travel-hotel-main-img">
		    <img src="resources/images/manek-singh-DpMzZFt18r0-unsplash.jpg" alt="맛집 메인 이미지">
		    <div class="search-container">
		        <div class="search-wrapper">
		            <input type="text" name="q" class="search-input" placeholder="여행지, 관광명소, 음식점 검색하기" style="background-image: url('resources/images/free-icon-search-4410940.png');">
		            <button type="submit" class="btnset">검색</button>
		        </div>
		    </div>
		</div>
		</div>
    <!-- [S]butti-N7 -->
    <div class="butti-N7" data-bid="NQLZ9Ji5ro">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="textset">
            <h2 class="textset-tit">가성비 맛집</h2>
            <p class="textset-desc">품격 있는 여행을 추천해드립니다.</p>
          </div>
          <div class="contents-body">
            <div class="contents-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="contents-slide-group container-md">
                    <div class="cardset cardset-overlap">
                      <figure class="cardset-figure">
                        <img class="cardset-img" src="../resources/images/img_butti_N7_01.png" alt="이미지">
                      </figure>
                      <div class="cardset-body body-light body-bottom">
                        <h5 class="cardset-tit">어드벤쳐</h5>
                        <p class="cardset-desc">디자인은 사용자의 편의성을 고려해 아름다움을 불어넣어야 합니다.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="contents-slide-group container-md">
                    <div class="cardset cardset-overlap">
                      <figure class="cardset-figure">
                        <img class="cardset-img" src="../resources/images/img_butti_N7_02.png" alt="이미지">
                      </figure>
                      <div class="cardset-body body-light body-bottom">
                        <h5 class="cardset-tit">인기 체험</h5>
                        <p class="cardset-desc">디자인은 사용자의 편의성을 고려해 아름다움을 불어넣어야 합니다.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="contents-slide-group container-md">
                    <div class="cardset cardset-overlap">
                      <figure class="cardset-figure">
                        <img class="cardset-img" src="../resources/images/img_butti_N7_03.png" alt="이미지">
                      </figure>
                      <div class="cardset-body body-light body-bottom">
                        <h5 class="cardset-tit">인기 관광명소</h5>
                        <p class="cardset-desc">디자인은 사용자의 편의성을 고려해 아름다움을 불어넣어야 합니다.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="contents-slide-group container-md">
                    <div class="cardset cardset-overlap">
                      <figure class="cardset-figure">
                        <img class="cardset-img" src="../resources/images/img_butti_N7_04.png" alt="이미지">
                      </figure>
                      <div class="cardset-body body-light body-bottom">
                        <h5 class="cardset-tit">즞대는 숙소</h5>
                        <p class="cardset-desc">디자인은 사용자의 편의성을 고려해 아름다움을 불어넣어야 합니다.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
          <div class="contents-control">
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="butti-N7" data-bid="NQLZ9Ji5ro" style="background-color: rgb(225,244,254);">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="textset">
            <h2 class="textset-tit">경험해보지 못함 맛집</h2>
            <p class="textset-desc">품격 있는 여행을 추천해드립니다.</p>
          </div>
          <div class="contents-body">
            <div class="contents-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="contents-slide-group container-md">
                    <div class="cardset cardset-overlap">
                      <figure class="cardset-figure">
                        <img class="cardset-img" src="../resources/images/img_butti_N7_01.png" alt="이미지">
                      </figure>
                      <div class="cardset-body body-light body-bottom">
                        <h5 class="cardset-tit">어드벤쳐</h5>
                        <p class="cardset-desc">디자인은 사용자의 편의성을 고려해 아름다움을 불어넣어야 합니다.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="contents-slide-group container-md">
                    <div class="cardset cardset-overlap">
                      <figure class="cardset-figure">
                        <img class="cardset-img" src="../resources/images/img_butti_N7_02.png" alt="이미지">
                      </figure>
                      <div class="cardset-body body-light body-bottom">
                        <h5 class="cardset-tit">인기 체험</h5>
                        <p class="cardset-desc">디자인은 사용자의 편의성을 고려해 아름다움을 불어넣어야 합니다.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="contents-slide-group container-md">
                    <div class="cardset cardset-overlap">
                      <figure class="cardset-figure">
                        <img class="cardset-img" src="../resources/images/img_butti_N7_03.png" alt="이미지">
                      </figure>
                      <div class="cardset-body body-light body-bottom">
                        <h5 class="cardset-tit">인기 관광명소</h5>
                        <p class="cardset-desc">디자인은 사용자의 편의성을 고려해 아름다움을 불어넣어야 합니다.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="contents-slide-group container-md">
                    <div class="cardset cardset-overlap">
                      <figure class="cardset-figure">
                        <img class="cardset-img" src="../resources/images/img_butti_N7_04.png" alt="이미지">
                      </figure>
                      <div class="cardset-body body-light body-bottom">
                        <h5 class="cardset-tit">즞대는 숙소</h5>
                        <p class="cardset-desc">디자인은 사용자의 편의성을 고려해 아름다움을 불어넣어야 합니다.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
          <div class="contents-control">
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="butti-N7" data-bid="NQLZ9Ji5ro"  >
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="textset">
            <h2 class="textset-tit">내 주변 맛찝</h2>
            <p class="textset-desc">품격 있는 여행을 추천해드립니다.</p>
          </div>
          <div class="contents-body">
            <div class="contents-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="contents-slide-group container-md">
                    <div class="cardset cardset-overlap">
                      <figure class="cardset-figure">
                        <img class="cardset-img" src="../resources/images/img_butti_N7_01.png" alt="이미지">
                      </figure>
                      <div class="cardset-body body-light body-bottom">
                        <h5 class="cardset-tit">일본</h5>
                        <p class="cardset-desc">디자인은 사용자의 편의성을 고려해 아름다움을 불어넣어야 합니다.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="contents-slide-group container-md">
                    <div class="cardset cardset-overlap">
                      <figure class="cardset-figure">
                        <img class="cardset-img" src="../resources/images/img_butti_N7_02.png" alt="이미지">
                      </figure>
                      <div class="cardset-body body-light body-bottom">
                        <h5 class="cardset-tit">재주도 대한민국</h5>
                        <p class="cardset-desc">디자인은 사용자의 편의성을 고려해 아름다움을 불어넣어야 합니다.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="contents-slide-group container-md">
                    <div class="cardset cardset-overlap">
                      <figure class="cardset-figure">
                        <img class="cardset-img" src="../resources/images/img_butti_N7_03.png" alt="이미지">
                      </figure>
                      <div class="cardset-body body-light body-bottom">
                        <h5 class="cardset-tit">베트남</h5>
                        <p class="cardset-desc">디자인은 사용자의 편의성을 고려해 아름다움을 불어넣어야 합니다.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="contents-slide-group container-md">
                    <div class="cardset cardset-overlap">
                      <figure class="cardset-figure">
                        <img class="cardset-img" src="../resources/images/img_butti_N7_04.png" alt="이미지">
                      </figure>
                      <div class="cardset-body body-light body-bottom">
                        <h5 class="cardset-tit">하와이</h5>
                        <p class="cardset-desc">디자인은 사용자의 편의성을 고려해 아름다움을 불어넣어야 합니다.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
          <div class="contents-control">
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]butti-N7 -->
  </main>
  <!-- [S]campland-N2 -->
  <footer class="campland-N2" data-bid="HKlyI3r1MZ">
    <div class="footer-container container-lg">
      <div class="footer-top">
        <h1 class="footer-logo">
          <a href="javascript:void(0)">
            <img src="resources/images/pushtrip_logo_white.png" alt="로고">
          </a>
        </h1>
        <ul class="footer-menulist">
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>이용약관</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>개인정보처리방침</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>푸터메뉴1</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>푸터메뉴2</span>
            </a>
          </li>
        </ul>
        <ul class="footer-snslist">
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="resources/icons/ico_instagram_lightgrey.svg" alt="인스타그램">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="resources/icons/ico_youtube_lightgrey.svg" alt="유튜브">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="resources/icons/ico_facebook_lightgrey.svg" alt="페이스북">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="resources/icons/\ico_kakao_lightgrey.svg" alt="카카오톡">
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <h2 class="footer-logo">
          <a href="javascript:void(0)">
            <img src="resources/images/pushtrip_logo_white.png" alt="로고">
          </a>
        </h2>
        <div class="footer-txt">
          <p> 서울시 금천구 벚꽃로36길 30 가산 KS타워 1409호 </p>
          <p>
            <span>T. 070-8872-8874</span>
            <span>E. help@openfield.co.kr</span>
          </p>
        </div>
        <div class="footer-txt">
          <p>2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</p>
        </div>
      </div>
    </div>
  </footer>
    <script src="resources/js/script_main_travel.js"></script>
<script src="/resources/js/login_logout.js"></script>
<script src="/resources/js/openMessage.js"></script>
<script src="/resources/js/chat.js"></script>
<script src="/resources/js/chatbot.js"></script>
</body>